// ====
// Site Styles
// ================================================================================

// Get Framework
@import "../stylus/inspireFramework";


// ====
// Main Layout
// ================================================================================
main {
  column(8);
  margin: 0 auto;
}

// ====
// Code Highlighting
// ================================================================================
@import "syntax";