// ====
// DOCUMENTATION
// ================================================================================
@import "../stylus/inspireFramework";
// Code Highlighting
@import "syntax";
// @media query variables
$lessThanTablet = "screen and (max-width: " + unit(700 / 16, em) + ")";



// ====
// HEADER
// ================================================================================
header[role="banner"] {
  prop(padding, $baseGutter / 2 0);
}  
// Brand
.site-brand {
  position: absolute;
  typeRhythm(1); 
  border-bottom: none; 

}
// Navigation
.site-nav {
  
  
  // Hide .nav-toggle
  .nav-toggle {
    display: none;
    position: absolute;
    prop(right, $baseGutter);
    cursor: pointer;
    
    + input {position: absolute;}
  }

  @media $lessThanTablet {
    .nav-toggle {display: block;} 
    .nav-tabs {
      display: none;
    }
    #nav-toggle-trigger:checked + .nav-tabs {display: block}
  }  
}
.nav-tabs {
  margin-top: 0;
  list-style: none;
  vertical-align: middle;
  text-align: right;

  .tab {
    display: inline-block;

    a {
      display: block;
      prop(border, 1px, solid $link);
      prop(padding, ($baseGutter / 4) ($baseGutter / 2))
    }
  }
}


// ====
// LAYOUTS
// ================================================================================
  
  

// ====
// @MEDIA QUERIES
// ================================================================================


// ====
// NO-MEDIA QUERY SUPPORT
// ================================================================================
.no-mediaqueries {

}
// ====
// @MEDIA PRINT
// ================================================================================
