// CSS3 Mixins
// =================================================


// Box-Sizing
// 
boxSizing(type = border-box) {
  vendor('box-sizing', type);
}

// Visual Mixins
// ================================
appearance(type = none) {
  vendor('appearance', type, only: webkit moz official)  
}

borderRadius(args) {
  vendorCalc('border-radius', args, only: webkit moz official);
}
// Backgrounds
backgroundSize(args) {
  vendorCalc('background-size', args, only: webkit moz official);
}

boxShadow(args) {
  vendorCalc('box-shadow', args, only: webkit official);
}



