// Theme - Basic
// ============================================

// Global Variables
// =================================================
$baseFontStack = $helvetica; // see font-families in mixins/base_mixins.styl
$globalBorderRadius = 6px; // used for all border-radii
$raisedBorderWidth = 3px; // used for raised panels and buttons

//prop('padding',($baseGutter / 2) $baseGutter ($baseGutter / 2) ($baseGutter .25));

// Grid Lines Colour
// set the colour of grid lines when dev-mode == true
// =================================================
$gridLinesColour = '';



// Colour Themes
// =================================================
$primaryColour = #34D1C6;
    
// Complementary Colors
$complementaryColour = spin($primaryColour,180);
// Split Complementary
$splitComplementaryA = spin($primaryColour,150);
$splitComplementaryB = spin($primaryColour,-150);

// Triadic
// Analogous
// Monochromatic
// $primaryColourLighter = lighten();
// $primaryColourDarker = ''; 


// Basic Colours
// =================================================
$bodyBg = $lightGrey;
$text = #0B0B0B;
$textInverted = invert($text);
// Colour variables
$darkGrey = lighten($text,40%);
$mediumGrey = saturate(darken($textInverted,50%),10%);
$grey = darken($textInverted,25%);
$lightGrey = $textInverted;

// ====
// Text Elements
// ================================================================================

// <a/>
// =================================================
$link = $primaryColour;
$linkHover = $splitComplementaryA;
$linkActive = #2559A5;
$linkFocus = #3682F2;
$linkVisited = #1C4861;


// ====
// Form Elements
// ================================================================================

// <fieldset/>
// =================================================

$fieldsetBorder = false; // Enables/Disables borders.
// @param $fieldsetBorderWidth: sets the border offset width(s) 
// @param $fieldsetBorderStyle: sets the border style: See MDN https://developer.mozilla.org/en-US/docs/Web/CSS/border-style 
// @param $fieldsetBorderStyle: sets the border colour, expects any valid colour
//
// #Uncomment to set border params (if $fieldsetBorder == true)
// $fieldsetBorderWidth = 1px;
// $fieldsetBorderStyle = solid;
// $fieldsetBorderColour = transparent;
// $fieldsetPadding = $baseGutter;
  

// <legend/>
// =================================================

// <input/>, <select/>, <textarea/>
// =================================================
$fieldBorderWidth = 2px;
$fieldBorderColour = $grey;
$fieldFocusBorderColour = darken($primaryColour, 20%);
$fieldTextColour = $primaryColour;
$fieldBackground = white;
$fieldActiveBackground = $lightGrey;

// <input type="radio"/> and <input type="checkbox"/>
// =================================================

// ====
// Button Theme Settings
// ================================================================================
$buttonBorderWidth = 0 0 $raisedBorderWidth;
// Primary Action
$primaryAction = $primaryColour;
$primaryActionText = $textInverted;
//Secondary Action
$secondaryAction = $splitComplementaryA;
// Utility Buttons
$utilityAction = $splitComplementaryB;


// ====
// Element Overrides
// ================================================================================

// <blockquote/>
// =================================================

// $blockquoteMargin = $baseGutter;
$blockquotePadding = ($baseGutter / 2);
$blockquoteBlockColour = $complementaryColour;

// Bordered Blockquote
// Border Type accepts any valid border property
// @param $blockquoteBorder
$blockquoteBorder = border-left;
// end border type
$blockquoteBorderWidth = 2px;
$blockquoteBorderStyle = solid;
$blockquoteBorderColour = $grey;
$blockquoteBorderRadius = 0;
// Decorative Glyph Blockquote
//$blockquoteQuotationGlyph = '\201C';
$blockquoteQuotationGlyphSize = 800%;
//$blockquoteQuotationGlyphFont = $decorative;
$blockquoteQuotationColour = $complementaryColour;
$blockquoteQuotationGlyphOpacity = .1;

// ====
// <q/>
// ================================================================================
$inlineQuoteColor = lighten($complementaryColour,90%);
$inlineQuoteBackground =$complementaryColour;

// <cite />
// =================================================
$citeColour = $grey;
$citeLinkColour = $link;
$citeGlyphContent = '- ';


// Component Theme Settings
// =================================================

// Panels
// =================================================
$panelBg = #fff;
$panelInsetBg = darken($bodyBg,5%);
$panelBorder = darken($lightGrey,10%);
$panelRaisedBorder = darken($lightGrey,10%);
// Panel Header
$incluePanelHeadBorder = true;
$panelHeadBorder = darken($lightGrey, 5%);
// Panel Footer
$incluePanelFootBorder = true;
$panelFootBorder = $panelHeadBorder;
