// Theme - inspire
// ============================================

// Theme Variables
// =================================================
$baseFontStack = $helvetica; // see font-families in _base_mixins.styl
$globalBorderRadius = 3px;

// Grid Lines Colour
// set the colour of grid lines when dev-mode == true
// =================================================
$gridLinesColour = '';

// Basic Colours
// =================================================
$bodyBg = $lightGrey;
$text = #1b1b1b;
$textInverted = invert($text);
// Colour variables
$darkGrey = #474747;
$mediumGrey = #707070;
$grey = #999999;
$lightGrey = #b2b2b2;

// Links
$link = #2E6DCB;
$linkHover = #3682F2;
$linkActive = #2559A5;
$linkFocus = #3682F2;
$linkVisited = #1C4861;

// Main Theme Colours
$primaryAction = 'blue';
$secondaryAction = 'orange';
$utilityAction = $darkGrey;

// Code blocks
// $codeBlockColour:
// $codeBlockBorder:

// ====
// Button Themes and Variables
// ================================================================================
// Uses CSS shorthand; 
$buttonBorderWidth = 1px 1px 3px;

// Component Theme Colours
// =================================================

// Panels
// =================================================
$panelBg = #fff;
$panelInsetBg = darken($bodyBg,5%);
$panelBorder = darken($lightGrey,10%);
$panelRaisedBorder = darken($lightGrey,10%);
$panelHeadBorder = darken($lightGrey, 5%);
$panelFootBorder = $panelHeadBorder;
