  <head>
    <meta charset="UTF-8">
    <title>{% if page.category != 'home'%}{{ page.title }} &gt; {{ page.category | capitalize }} - {{ site.name }}{% else %}{{ site.name }} -  {{ site.tagline }}{% endif %}</title>
    
    <meta name="description" content="">
    <meta name="author" content="Jason Chandler, DTI Graphics">

    <!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" href="{{ site.baseurl}}/css/site.css" />
    {% if site.dev_mode == 'true' %}
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    {% endif %}
  </head>

  