  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    
    <meta name="description" content="">
    <meta name="author" content="Jason Chandler, DTI Graphics">

    <!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" href="{{ site.baseurl}}/css/site.css" />
  </head>

  