// ====
// Images
// ================================================================================

// Basic Image Settings
// =================================================
.if-image {

  & img {
    max-width: 100%;
  }
  
  // Aspect Ratios
  // =================================================
  

  // Crop and Resize Variations
  // =================================================
}




